code {
  color: #333333;
}
code > span {
  color: #cccccc;
  font-size: .75rem;
  margin-left: 10px;
}

/* header s */
/* header e */
/* nav s */
.nav-main .navbar-brand {
  color: white;
}
.nav-main .navbar-nav > li > a {
  color: white;
  font-size: .875rem;
  padding: 0 .75rem;
}
.nav-main .navbar-nav .dropdown-menu {
  position: absolute;
}

/* nav e */
/* breadcrumb s */
.breadcrumb {
  position: relative;
}

/* breadcrumb e */
/* footer s */
/* footer e */
/* responsive-pc s */
@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .nav-main {
    flex-direction: column;
  }
  .nav-main .navbar-brand {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav-main .nav.left {
    max-width: 100%;
    overflow: hidden;
  }
  .nav-main .nav.left .navbar-nav {
    white-space: nowrap;
    overflow-x: auto;
  }
}
/* responsive-pc e */
/* responsive-mobile s */
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default*/
@media (min-width: 576px) {
  /*Small devices (landscape phones, 576px and up)*/
}
@media (min-width: 768px) {
  /*Medium devices (tablets, 768px and up)*/
}
@media (min-width: 992px) {
  /*Large devices (desktops, 992px and up)*/
}
@media (min-width: 1200px) {
  /*Extra large devices (large desktops, 1200px and up)*/
}
/* responsive-mobile e */
/* index s */
/* index e */
/* responsive-pc s */
@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
}
/* responsive-pc e */
/* responsive-mobile s */
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default*/
@media (min-width: 576px) {
  /*Small devices (landscape phones, 576px and up)*/
}
@media (min-width: 768px) {
  /*Medium devices (tablets, 768px and up)*/
}
@media (min-width: 992px) {
  /*Large devices (desktops, 992px and up)*/
}
@media (min-width: 1200px) {
  /*Extra large devices (large desktops, 1200px and up)*/
}
/* responsive-mobile e */
/* sub-page s */
.page-left {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  border-right: 1px solid #dddddd;
}
.page-left .aside-search {
  display: flex;
  align-items: center;
}
.page-left .aside-search .search {
  display: flex;
  flex: 1;
}
.page-left .aside-search .search .form-control {
  width: 100%;
}
.page-left .aside-search .aside-toggler {
  display: none;
}
.page-left .aside-menu {
  display: block;
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.page-left .aside-menu .item .item-title {
  color: #333333;
  font-weight: bold;
}
.page-left .aside-menu .item .item-list {
  display: none;
}
.page-left .aside-menu .item.active .item-list {
  display: block;
}
.page-left .aside-menu .item .item-list {
  display: none;
}
.page-left .aside-menu .item .item-list > li {
  width: 100%;
}
.page-left .aside-menu .item .item-list > li > a {
  color: #888888;
  font-size: .875rem;
  padding: .35rem 0;
}
.page-left .aside-menu .item .item-list > li.active > a {
  color: #333333;
}

.page-right {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  height: calc(100vh - 55px);
  overflow-y: auto;
}
.page-right .section-nav {
  border-left: 1px solid #dddddd;
}

.page-middle [id*="block"] {
  pointer-events: auto;
}
.page-middle [id*="block"]:before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}
.page-middle .content .title {
  margin-bottom: 1rem;
}
.page-middle .content .title > span {
  display: inline-block;
  pointer-events: auto;
}

/* sub-page e */
/* responsive-pc s */
@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
  .page-left {
    position: relative;
    top: inherit;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #dddddd;
  }
  .page-left .aside-search {
    display: flex;
    align-items: center;
  }
  .page-left .aside-search .search {
    display: inline-block;
    flex: 1;
  }
  .page-left .aside-search .search .form-control {
    width: 100%;
  }
  .page-left .aside-search .aside-toggler {
    display: inline-block;
    flex: none;
    cursor: pointer;
  }
  .page-left .aside-menu:not(.show) {
    display: none;
  }
  .page-left .aside-menu {
    display: block;
    height: auto;
    overflow-y: auto;
  }
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
}
/* responsive-pc e */
/* responsive-mobile s */
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default*/
@media (min-width: 576px) {
  /*Small devices (landscape phones, 576px and up)*/
}
@media (min-width: 768px) {
  /*Medium devices (tablets, 768px and up)*/
}
@media (min-width: 992px) {
  /*Large devices (desktops, 992px and up)*/
}
@media (min-width: 1200px) {
  /*Extra large devices (large desktops, 1200px and up)*/
}
/* responsive-mobile e */
/* detail-page s */
/* detail-page e */
/* responsive-pc s */
@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
}
/* responsive-pc e */
/* responsive-mobile s */
/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default*/
@media (min-width: 576px) {
  /*Small devices (landscape phones, 576px and up)*/
}
@media (min-width: 768px) {
  /*Medium devices (tablets, 768px and up)*/
}
@media (min-width: 992px) {
  /*Large devices (desktops, 992px and up)*/
}
@media (min-width: 1200px) {
  /*Extra large devices (large desktops, 1200px and up)*/
}
/* responsive-mobile e */
