@charset "utf-8";

//page-left
.page-left {
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
  padding-right: 15px;
  border-right: 1px solid $color-d;

  & .aside-search {
    display: flex;
    align-items: center;

    & .search {
      display: flex;
      flex: 1;

      & .form-control {
        width: 100%;
      }
    }

    & .aside-toggler {
      display: none;
    }
  }

  & .aside-menu {
    display: block;
    height: calc(100vh - 150px);
    overflow-y: auto;

    & .item {
      & .title {
        color: $color-3;
        font-weight: bold;
      }

      &.active ul {
        display: block;
      }

      & ul {
        display: none;

        & > li {
          width: 100%;

          > a {
            color: $color-8;
            font-size: .875rem;
            padding: .35rem 0;
          }

          &.active > a {
            color: $color-3;
          }
        }
      }
    }
  }
}

//page-right
.page-right {
  position: sticky;
  top: 55px;
  height: calc(100vh - 55px);
  overflow-y: auto;

  & .section-nav {
    border-left: 1px solid $color-d;
  }
}

//page-middle
.page-middle {
  & [id*="item"] {
    pointer-events: auto;

    &:before {
      display: block;
      //height: 6rem;
      //margin-top: -6rem;
      height: 80px;
      margin-top: -60px;
      content: "";
    }
  }

  & code {
    color: $color-3;

    > span {
      color: $color-9;
    }
  }
}

//responsive-pc
@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
}

//responsive-mobile
//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}