@charset "utf-8";

.container-hot-sell {
  & .layout {
    & .average + .average {
      border-left: 1px solid $color-d;
    }
  }
}

.notice-box {
  background: url(http://placehold.it/2260x1200) center center no-repeat;
  background-size: cover;
  padding: 5rem 15px;
}

.special-category {
  & .layout > * {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  & .box {
    position: relative;
    overflow: hidden;
    min-height: 260px;

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    > * {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
    }
  }

  //& .left, & .right {
  //  & .box {
  //    min-height: 260px;
  //  }
  //}

  //& .middle {
  //  & .box {
  //    min-height: 500px;
  //  }
  //}
}

.container-brands {
  & .layout {
    border: 1px solid $color-d;

    & .average a {
      border-right: 1px solid $color-d;
      border-bottom: 1px solid $color-d;
    }
  }

  & .layout.six .average {
    &:nth-last-of-type(1),
    &:nth-last-of-type(2),
    &:nth-last-of-type(3),
    &:nth-last-of-type(4),
    &:nth-last-of-type(5),
    &:nth-last-of-type(6) {
      a {
        border-bottom: none;
      }
    }

    &:nth-of-type(6n+0) {
      a {
        border-right: none;
      }
    }
  }
}

//index

//responsive-pc
@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .container-hot-sell {
    & .layout {
      & .average:nth-of-type(3n+1) {
        border-left: none;
      }
    }
  }

  .container-brands {
    & .layout.three-md .average {
      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3),
      &:nth-last-of-type(4),
      &:nth-last-of-type(5),
      &:nth-last-of-type(6) {
        a {
          border-bottom: 1px solid $color-d;
        }
      }

      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3) {
        a {
          border-bottom: none;
        }
      }

      &:nth-of-type(3n+0) {
        a {
          border-right: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .container-hot-sell {
    & .layout {
      & .average:nth-of-type(3n+1) {
        border-left: 1px solid $color-d;
      }

      & .average:nth-of-type(2n+1) {
        border-left: none;
      }
    }
  }

  .container-brands {
    & .layout.two-xs .average {
      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3) {
        a {
          border-bottom: 1px solid $color-d;
        }
      }

      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        a {
          border-bottom: none;
        }
      }

      &:nth-of-type(3n+0) {
        a {
          border-right: 1px solid $color-d;
        }
      }

      &:nth-of-type(2n+0) {
        a {
          border-right: none;
        }
      }
    }
  }
}