@charset "utf-8";

//detail-page
.slide-list {
  .slick-prev {
    left: 25px;
    z-index: 1;
  }

  .slick-next {
    right: 25px;
    z-index: 1;
  }

  .slick-dots {
    position: relative;
    top: 10px;
    display: block;
    width: calc(100% + 10px);
    float: left;
    margin-left: -5px;
    margin-right: -5px;

    & li {
      width: 20%;
      height: 130px;
      margin: 0;
      padding: 0 5px;
      float: left;

      & button {
        width: 100%;
        height: auto;
        float: left;
        padding: 0;
        margin: 0;

        &:before {
          display: none;
        }

        &.thumbnail img {
          width: 100%;
          height: auto;
          opacity: 0.8;
        }

        &.thumbnail img {
          opacity: 0.6;
        }

        &.thumbnail:hover img {
          opacity: 1;
        }
      }
    }

    & .slick-active .thumbnail img {
      opacity: 1;
    }
  }
}

//responsive-pc
@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .slide-list {
    .slick-dots {
      margin-bottom: 30px;

      & li {
        width: 20px !important;
        height: 20px !important;
        float: none !important;
        margin: 0 5px !important;
        padding: 0 !important;
        cursor: pointer;

        & button:before {
          display: block;
        }

        & button.thumbnail img {
          display: none;
        }

        & button {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
}

//responsive-mobile
//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}
