@charset "utf-8";

#scrollUp {
  background-image: image-url('top.png');
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
}

//body
body {}

.container {}

//header
header {}

//nav
.navbar {
  & .navbar-brand {
    color: $color-f;
  }

  & .navbar-nav {
    & .nav-item {
      & .nav-link {
        color: $color-f;
        font-size: .875rem;
        padding: .5rem 1rem;
      }
    }
  }
}

//breadcrumb
.breadcrumb {}

//box
.box {
  & .row > * {
    margin-bottom: 1rem;
  }
}

//box-01
.box {
  &.box-01 {}
}

//box-02
.box {
  &.box-02 {}
}

//box-03
.box {
  &.box-03 {}
}

//box-04
.box {
  &.box-04 {}
}

//box-05
.box {
  &.box-05 {}
}

//footer
footer {}

//responsive-pc
@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
}

//responsive-mobile
//Extra small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default

@media (min-width: 576px) {
  //Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  //Medium devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  //Large devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  //Extra large devices (large desktops, 1200px and up)
}