@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
html, body {
  position: relative;
  font-family: 'Noto Serif JP', serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #333333;
  transition: all .3s ease;
}
a:hover {
  color: #00badb;
  text-decoration: none;
}
a:focus {
  outline: none;
  outline-offset: 0;
  color: #333333;
  text-decoration: none;
}

#scrollUp {
  background-image: url('../img/top.png?1618363652');
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
}

.container {
  width: 1460px;
  max-width: 96%;
}

.form-control {
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
}

.btn {
  border-radius: 0;
}

.theme-link-h {
  color: #1e2d7d;
}

.theme-link-l {
  color: #00badb;
}

.theme-bg-h {
  background: #1e2d7d;
}

.theme-bg-l {
  background: #00badb;
}

.theme-btn-h {
  background: #1e2d7d;
  color: #fff;
}

.theme-btn-l {
  background: #00badb;
  color: #fff;
}

.gutter-0 {
  margin: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .gutter-0-lg {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .gutter-0-md {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .gutter-0-sm {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .gutter-0-xs {
    margin: 0;
    padding: 0;
  }
}
body {
  background: #f3f5f6;
}

.container-main {
  position: relative;
}

.title-box .title {
  margin: 0;
  color: #1e2d7d;
  font-weight: bold;
  font-size: 1.25rem;
}

.arrow-link {
  display: block;
  color: #00badb;
  transform: translateX(25px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.arrow-link .arrow {
  position: relative;
  right: -5px;
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.arrow-link:hover {
  color: #00badb;
  transform: translateX(0);
}
.arrow-link:hover .arrow {
  right: 0;
  opacity: 1;
}

.card-box {
  background: white;
  border: 1px solid #dddddd;
  padding: 2rem;
}

.header-bar {
  background: #1e2d7d;
  border-bottom: 1px solid rgba(163, 175, 239, 0.3);
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}
header .search .form-control {
  height: 44px;
  border: none;
  transition: none;
}
header .search .btn {
  width: 44px;
  height: 44px;
}
header .header-main {
  background: #1e2d7d;
  padding: 20px 0;
}
header .header-nav .navbar {
  background: transparent;
  height: inherit;
  min-height: inherit;
  padding: 0;
}
header .header-nav .navbar .item {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
header .header-nav .navbar .item .nav-link {
  padding: 0 1rem;
  color: white;
}
header .header-nav .navbar .item.account .nav-link [class*="fa"] {
  display: none;
}
header .header-nav .navbar .item.cart-box .nav-link .cart-number {
  display: block;
  position: absolute;
  top: 0;
  left: 2rem;
  z-index: 100;
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  background: #e53935;
  color: white;
  text-align: center;
  line-height: 1rem;
  font-size: .75rem;
}
header .header-nav .navbar .item .dropdown-toggle:after {
  display: none;
}
header .header-nav .navbar .item .dropdown-menu {
  min-width: 20rem;
  right: 0;
  left: auto;
}
header .header-nav .navbar .item .dropdown-menu .dropdown-item {
  cursor: pointer;
}
header .header-nav .navbar .item .dropdown-menu .dropdown-item:hover, header .header-nav .navbar .item .dropdown-menu .dropdown-item:focus, header .header-nav .navbar .item .dropdown-menu .dropdown-item:active {
  color: #e53935;
  background: white;
}
header .header-nav .navbar .item + .item:before {
  content: "/";
  padding: 0 .5rem;
  color: #999999;
}

.navbar-toggler {
  background-color: transparent;
  margin-right: .75rem;
  padding: .35rem 0;
  color: #00badb;
  font-size: 1.5rem;
}
.navbar-toggler svg {
  width: 30px;
}

.navbar {
  min-height: 64px;
  background: white;
  padding: 0;
}
.navbar .nav-item .nav-link {
  color: #677279;
  line-height: 64px;
  padding: 0 1.25rem;
}
.navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link.active {
  color: red;
}
.navbar .nav-item .dropdown-menu {
  margin-top: -2px;
}
.navbar .dropdown-large {
  position: static;
}
.navbar .dropdown-large .dropdown-large-menu {
  width: 100%;
  padding: 25px 50px;
}
.navbar .dropdown-large .dropdown-large-menu ul > li.list-header {
  margin-bottom: .5rem;
}
.navbar .dropdown-large .dropdown-large-menu ul > li > a {
  display: inline-block;
  color: #666666;
  padding: .15rem 0;
}
.navbar .dropdown-large .dropdown-large-menu ul > li > a:focus, .navbar .dropdown-large .dropdown-large-menu ul > li > a:hover {
  color: red;
}

.extend-nav .aside-main {
  display: none;
}

.breadcrumb {
  background: transparent;
  margin: 2rem 0;
  padding: 0;
}
.breadcrumb .breadcrumb-item > a {
  color: #677279;
  font-size: .875rem;
}
.breadcrumb .breadcrumb-item > a:focus, .breadcrumb .breadcrumb-item > a:hover {
  color: red;
}
.breadcrumb .breadcrumb-item.active {
  color: #333333;
}

.corner-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../img/corner-pic.png?1618363652') 0 0 no-repeat;
  width: 68px;
  height: 68px;
  text-align: center;
  color: white;
  line-height: 1;
}

footer {
  background: white;
  border-top: 1px solid #dddddd;
}

.fixed-box {
  position: fixed;
  right: 15px;
  bottom: 60px;
}
.fixed-box .item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
  opacity: .8;
}
.fixed-box .item svg {
  width: 30px;
  height: 30px;
  fill: white;
}
.fixed-box .email {
  right: 0;
  bottom: 120px;
  background: #62bfe7;
}
.fixed-box .comment {
  right: 0;
  bottom: 60px;
  background: #333;
}
.fixed-box .back-to-top {
  right: 0;
  bottom: 0;
  background: #e13887;
}

@media (max-width: 1199px) {
  .extend-nav .aside-main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    cursor: pointer;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.4);
  }
  .extend-nav .aside-main .inner-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    text-align: left;
    overflow-y: auto;
    padding: 1rem;
    transform: translateX(100%);
    background: white;
    transition: all 0.1s ease-out;
  }
  .extend-nav .aside-main .inner-box.active {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 200px 0;
    transform: translateX(0);
  }
  .extend-nav .aside-main .inner-box .accordion > dt {
    position: relative;
    color: #333333;
    padding: .5rem 1.5rem .5rem .25rem;
    cursor: pointer;
    border-top: solid 1px #dddddd;
  }
  .extend-nav .aside-main .inner-box .accordion > dt:before {
    display: block;
    vertical-align: top;
    content: "";
    position: absolute;
    top: 42%;
    right: 14px;
    width: 10px;
    height: 10px;
    margin: -2px 0 0 0;
    border-right: 2px solid #e53935;
    transform: translateX(-50%);
  }
  .extend-nav .aside-main .inner-box .accordion > dt:after {
    display: block;
    vertical-align: top;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    margin: -2px 0 0 0;
    border-top: 2px solid #e53935;
    transform: translateX(-50%);
  }
  .extend-nav .aside-main .inner-box .accordion > dt.open {
    border-bottom: solid 1px #dddddd;
  }
  .extend-nav .aside-main .inner-box .accordion > dt.open::before {
    display: none;
  }
  .extend-nav .aside-main .inner-box .accordion > dd {
    display: none;
  }
  .extend-nav .aside-main .inner-box .accordion > dd li a {
    font-size: .875rem;
    padding: .5rem .75rem;
    display: block;
    text-decoration: none;
    position: relative;
    transition: background-color .3s;
  }
  .extend-nav .aside-main .inner-box .accordion > dd li a:after {
    display: block;
    vertical-align: top;
    content: "";
    position: absolute;
    top: 50%;
    right: .75rem;
    width: .5rem;
    height: .5rem;
    margin: -3px 0 0 0;
    border-top: solid 2px #e53935;
    border-right: solid 2px #e53935;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .extend-nav .container {
    display: none;
  }

  .card-box {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  header .header-main {
    padding: 10px 0 15px 0;
  }
  header .header-nav .navbar .item.account .nav-link [class*="fa"] {
    display: block;
  }
  header .header-nav .navbar .item.account .nav-link .head {
    display: none;
  }
  header .header-nav .navbar .item.account .nav-link .title > span {
    display: none;
  }

  .navbar {
    min-height: 0;
  }
}
@media (max-width: 767px) {
  .container-main {
    margin: 0;
    padding: 0;
  }

  .fixed-box {
    right: 10px;
    bottom: 40px;
  }
  .fixed-box .item {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
    opacity: .8;
  }
  .fixed-box .item svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  .fixed-box .email {
    right: 0;
    bottom: 100px;
    background: #62bfe7;
  }
  .fixed-box .comment {
    right: 0;
    bottom: 50px;
    background: #333;
  }
  .fixed-box .back-to-top {
    right: 0;
    bottom: 0;
    background: #e13887;
  }
}
@media (max-width: 575px) {
  header .header-nav .navbar .item.account .nav-link [class*="fa"] {
    display: block;
  }
  header .header-nav .navbar .item.account .nav-link > span {
    display: none;
  }
  header .header-nav .navbar .item.cart-box .nav-link .cash {
    display: none;
  }
  header .header-nav .navbar .item .nav-link {
    padding: .5rem;
  }
}
.container-hot-sell .layout .average + .average {
  border-left: 1px solid #dddddd;
}

.notice-box {
  background: url(http://placehold.it/2260x1200) center center no-repeat;
  background-size: cover;
  padding: 5rem 15px;
}

.special-category .layout > * {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.special-category .box {
  position: relative;
  overflow: hidden;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.special-category .box > * {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.container-brands .layout {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.container-brands .layout .average a {
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

@media (max-width: 991px) {
  .container-hot-sell .layout .average:nth-of-type(3n+1) {
    border-left: none;
  }
}
@media (max-width: 575px) {
  .container-hot-sell .layout .average:nth-of-type(3n+1) {
    border-left: 1px solid #dddddd;
  }
  .container-hot-sell .layout .average:nth-of-type(2n+1) {
    border-left: none;
  }
}
.accordion [id*="heading-"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  cursor: pointer;
}
.accordion .card-body {
  padding: .25rem 1.25rem;
}
.accordion .card-body .navbar-nav {
  width: 100%;
}
.accordion .card-body .navbar-nav > li + li {
  border-top: 1px dotted #dddddd;
}
.accordion .card-body .navbar-nav > li .nav-link {
  display: block;
  line-height: 2rem;
  padding: 0;
}
.accordion .card-body .navbar-nav > li .nav-link:before {
  content: "\f105";
  display: inline-block;
  padding-right: .5rem;
  color: #00badb;
  font-family: 'Font Awesome 5 Pro';
  transition: all 0.3s ease-in-out;
}
.accordion .card-body .navbar-nav > li .nav-link:focus, .accordion .card-body .navbar-nav > li .nav-link:hover {
  color: #00badb;
}

@media (max-width: 991px) {
  .container-main .main-content {
    margin: 0;
    padding: 0;
  }
  .container-main .main-aside {
    margin: 0;
    padding: 0;
  }
}
.container-inner {
  width: calc(50% - 15px);
}
.container-inner .product-block-list-item {
  margin-bottom: 2rem;
}
.container-inner .product-block-list-item .card-box .title-box {
  color: #1e2d7d;
  font-size: 1.5rem;
  font-weight: bold;
}
.container-inner .product-block-list-item .collect-box {
  position: relative;
  height: calc(100vh - 185px - 87px);
  overflow: hidden;
  border-bottom: none;
}
.container-inner .product-block-list-item .collect-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, white 100%);
  z-index: 1;
}
.container-inner .product-block-list-item .collect-btn {
  background: white;
  border: 1px solid #dddddd;
  border-top: none;
}
.container-inner .product-block-list-item .collect-btn button {
  color: #00badb;
}
.container-inner .product-block-list-item .collect-btn button:focus, .container-inner .product-block-list-item .collect-btn button:hover {
  color: #fff;
  background: #00badb;
}
.container-inner .item-info {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% - 15px);
  height: 100%;
  z-index: 9;
}
.container-inner .item-info .card-box {
  position: sticky;
  top: 185px;
}
.container-inner .item-info .product-meta {
  margin-bottom: 1rem;
}
.container-inner .item-info .product-meta > h1 {
  margin: 0;
  color: #1e2d7d;
  font-size: 1.5rem;
  font-weight: bold;
}
.container-inner .item-info .product-option .link-box {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  font-size: .875rem;
  overflow: hidden;
}
.container-inner .item-info .product-option .link-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, white 100%);
  z-index: 1;
}
.container-inner .item-info .product-option .link-box a {
  display: inline-block;
  color: #00badb;
  z-index: 2;
}
.container-inner .item-info .product-option .link-box span {
  display: inline-block;
  margin-left: .35rem;
  white-space: nowrap;
  overflow: hidden;
  color: #666666;
}
.container-inner .item-info .product-button .btn {
  display: block;
  width: calc(50% - 15px);
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 0;
}
.container-inner .item-info .product-button .btn-add {
  background: #00badb;
  color: #fff;
}
.container-inner .item-info .product-button .btn-buy {
  background: #1e2d7d;
  color: #fff;
}

.slider-main .slick-prev {
  left: 25px;
  z-index: 1;
}
.slider-main .slick-next {
  right: 25px;
  z-index: 1;
}
.slider-main .slick-dots {
  display: none !important;
  position: relative;
  top: 10px;
  width: calc(100% + 10px);
  float: left;
  margin-left: -5px;
  margin-right: -5px;
}
.slider-main .slick-dots li {
  width: 20%;
  height: 130px;
  margin: 0;
  padding: 0 5px;
  float: left;
}
.slider-main .slick-dots li button {
  width: 100%;
  height: auto;
  float: left;
  padding: 0;
  margin: 0;
}
.slider-main .slick-dots li button:before {
  display: none;
}
.slider-main .slick-dots li button.thumbnail img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.slider-main .slick-dots li button.thumbnail img {
  opacity: 0.6;
}
.slider-main .slick-dots li button.thumbnail:hover img {
  opacity: 1;
}
.slider-main .slick-dots .slick-active .thumbnail img {
  opacity: 1;
}

.slider-thumbs .slick-prev,
.slider-thumbs .slick-next {
  top: 100%;
  z-index: 1;
  width: 100%;
  background: #cccccc;
}
.slider-thumbs .slick-prev::before,
.slider-thumbs .slick-next::before {
  color: white;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 100;
}
.slider-thumbs .slick-prev::before {
  content: "\f106";
}
.slider-thumbs .slick-next::before {
  content: "\f107";
}
.slider-thumbs .slick-prev:hover::before,
.slider-thumbs .slick-next:hover::before {
  color: #e53935;
}
.slider-thumbs .slick-prev {
  top: -20px;
  left: 0;
}
.slider-thumbs .slick-next {
  right: 0;
  z-index: 1;
  margin-top: 15px;
}
.slider-thumbs .slick-list {
  overflow: hidden;
  margin-top: 30px;
}
.slider-thumbs .slick-list img {
  opacity: .8;
}

.item-option:before,
.item-reviews:before,
.item-option [id*="product-option-"]:before {
  content: "";
  display: block;
  height: 185px;
  margin-top: -185px;
}

.item-option .form-check-label .form-check-input {
  display: none;
}
.item-option .form-check-label .pic-box {
  position: relative;
  display: block;
  padding: 5px;
  border: 1px solid #999999;
  border-radius: 5px;
  overflow: hidden;
}
.item-option .form-check-label .pic-box::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  background: #00badb;
}
.item-option .form-check-label:focus .pic-box, .item-option .form-check-label:hover .pic-box {
  padding: 5px;
  border: 1px solid #00badb;
}
.item-option .form-check-label:focus .pic-box::after, .item-option .form-check-label:hover .pic-box::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}
.item-option .form-check-label .form-check-input:checked ~ .pic-box {
  padding: 5px;
  border: 1px solid #00badb;
}
.item-option .form-check-label .form-check-input:checked ~ .pic-box::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}
.item-option .form-check-label .form-check-input {
  margin-left: -1rem;
}

@media (max-width: 1199px) {
  .container-inner .item-info {
    right: 15px;
  }
  .container-inner .item-info .card-box {
    position: sticky;
    top: 110px;
  }

  .item-option:before,
  .item-reviews:before {
    height: 110px;
    margin-top: -110px;
  }

  .item-option [id*="product-option-"]:before {
    height: 110px;
    margin-top: -110px;
  }
}
@media (max-width: 991px) {
  .slide-detail .slick-dots {
    margin-bottom: 30px;
  }
  .slide-detail .slick-dots li {
    width: 20px !important;
    height: 20px !important;
    float: none !important;
    margin: 0 5px !important;
    padding: 0 !important;
    cursor: pointer;
  }
  .slide-detail .slick-dots li button:before {
    display: block;
  }
  .slide-detail .slick-dots li button.thumbnail img {
    display: none;
  }
  .slide-detail .slick-dots li button {
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .container-inner {
    width: 100%;
  }
  .container-inner .product-block-list-item .card-box .title-box {
    font-size: 1rem;
  }
  .container-inner .item-info {
    position: relative;
    top: inherit;
    right: inherit;
    width: 100%;
    height: inherit;
    z-index: inherit;
  }
  .container-inner .item-info .card-box {
    position: relative;
    top: inherit;
  }

  .item-option:before,
  .item-reviews:before {
    height: 72px;
    margin-top: -72px;
  }

  .item-option [id*="product-option-"]:before {
    height: 90px;
    margin-top: -90px;
  }
}
@media (max-width: 767px) {
  .item-option:before,
  .item-reviews:before {
    height: 75px;
    margin-top: -75px;
  }

  .item-option [id*="product-option-"]:before {
    height: 95px;
    margin-top: -95px;
  }
}
@media (max-width: 575px) {
  .item-option:before,
  .item-reviews:before {
    height: 126px;
    margin-top: -126px;
  }

  .item-option [id*="product-option-"]:before {
    height: 140px;
    margin-top: -140px;
  }
}
