//global
pre {
}

code {
  color: $color-3;

  > span {
    color: $color-c;
    font-size: .75rem;
    margin-left: 10px;
  }
}

textarea {
  resize: none;
}

//header
header {
}

//nav
.nav-main {
  & .navbar-brand {
    color: $color-f;
  }

  & .navbar-nav {
    > li > a {
      color: $color-f;
      font-size: .875rem;
      padding: 0 .75rem;
    }

    & .dropdown-menu {
      position: absolute;
    }
  }
}

//breadcrumb
.breadcrumb {
  position: relative;
}

//footer
footer {
}

//responsive-pc
@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .nav-main {
    flex-direction: column;

    & .navbar-brand {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    & .nav.left {
      max-width: 100%;
      overflow: hidden;

      & .navbar-nav {
        white-space: nowrap;
        overflow-x: auto;
      }
    }
  }
}